# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.local

# PyCharm
.idea/

# Logs
*.log

# Database / local files
*.sqlite3
*.db

# Alembic cache
.mypy_cache/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/
.env.example
